includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/jangregor/phpstan-prophecy/src/extension.neon
parameters:
	fileExtensions:
		# Standard php files and .dist config files
		- php
		- dist
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		# Those constants are in phpunit, no way phpstan will find them ;)
		- '#Constant WEB_SERVER_HOST not found#'
		- '#Constant WEB_SERVER_PORT not found#'
		- '#Constant WEB_SERVER_DOCROOT not found#'
