<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <!-- unit tests -->
        <testsuite name="wallit-unit">
            <directory>tests/unit</directory>
        </testsuite>

        <!-- smoke tests -->
        <testsuite name="wallit-smoke">
            <directory>tests/smoke</directory>
        </testsuite>

    </testsuites>
    <php>
        <const name="EXPRESSIVE_SERVER_HOST" value="localhost" />
        <const name="EXPRESSIVE_SERVER_PORT" value="1352" />
        <const name="EXPRESSIVE_SERVER_PATH" value="public" />
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/coverage.xml"/>
    </logging>
</phpunit>
