<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="wallit-unit">
            <directory>tests/SolubleTest/Wallit</directory>
        </testsuite>

        <!-- this test suite contains a runnable expressive app -->
        <testsuite name="wallit-web">
            <directory>tests/ExpressiveWallitAppTest</directory>
        </testsuite>

    </testsuites>
    <php>
        <!-- this is used for wallit-web tests -->
        <const name="WEB_SERVER_HOST" value="localhost" />
        <const name="WEB_SERVER_PORT" value="1352" />
        <const name="WEB_SERVER_DOCROOT" value="./tests/expressive/public" />

        <var name="DB_ADAPTER" value="sqlite::memory:" />
        <var name="DB_USERNAME" value="" />
        <var name="DB_PASSWORD" value="" />
        <var name="DB_NAME" value="" />

    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>